

#header{
  display: flex;
  justify-content: space-between;
}

#lista ul{
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 150px;
  margin-top: 40px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

#header h1{
  margin-left: 150px;
  margin-top: 35px;

  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
}

#container{
  position: absolute;
  flex-direction: column;
}

#titulo h1{
  margin-left: 150px;
  margin-top: 212px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
   
}

#titulo p{
  margin-left: 150px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

#container2{
  display: flex;
  align-items: center;
  gap: 33px;
  margin-left: 150px;
  margin-top: 35px;

}

.botton1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00DF5E;
  width: 143px;
  height: 42px;
 }

 .botton1 a{
  color: #171717;

 }

 .botton2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143px;
  height: 42px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border: 1px #333333 solid;
 }

 .botton2 a{
  color: #F9F9F9;

 }

 .imagem img{
  position: absolute;
  width: 300px;
  height: 254.47px;
  margin-left: 890px;
  margin-top: 179px;
  }

#sobre{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 593px;
}

#sobre p{
  width: 745px;
  height: 160px;   
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #828282;

  margin-top: 30px;
}



#emoticons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 190px;
}

.nome img{
  background: #212121;
  border: 12px solid #212121;
  border-radius: 50%;
  border-radius: 50%;
  display: block; /* Define que a imagem será exibida como um bloco */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
 }

 .nome h1{ /*Organizei os nome abaixo dos emoticons*/
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  
  color: #F9F9F9;
 }

 .nome p{
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #828282;
 }

 .e-mail img{
  background: #212121;
  border: 12px solid #212121;
  border-radius: 50%;
  border-radius: 50%;
  display: block; /* Define que a imagem será exibida como um bloco */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
 }

 .e-mail h1{
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  
  color: #F9F9F9;
 }

 .e-mail p{
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #828282;
 }

 .telefone img{
  background: #212121;
  border: 12px solid #212121;
  border-radius: 50%;
  border-radius: 50%;
  display: block; /* Define que a imagem será exibida como um bloco */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
 }

 .telefone h1{
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  
  color: #F9F9F9;
 }

 .telefone p{
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #828282;
 }

#smile,#e-mail,#telefone{
  Width: 26.67px;
  Height: 26.67px;
}

#projetos { /*Utilizei essa div para organizar as boxes com os projetos, deixando eles em linha e quebrando qdo chegar ao fim da tela*/
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 45px;
  margin-top: 127px;

}

.projeto-titulo h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 127px;

  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}

.site_faculdade{
  display: flex;
  flex-direction: column;
  background-color: #212121; /* Coloquei um background de fundo com as medidas para fazer a caixa*/
  width: 350px;
  height: 240px;
}

.site_faculdade img{
  width: 300px;
  height: 130px;
  margin-top: 20px;
  margin-left: 25px;
}

.site_faculdade h1{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 23px;
}

.site_faculdade p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: #828282;
}

.pagina_autenticacao{
  display: flex;
  flex-direction: column;
  background-color: #212121;  /* Coloquei um background de fundo com as medidas para fazer a caixa*/
  width: 350px;
  height: 240px;
}

.pagina_autenticacao img{
  width: 300px;
  height: 130px;
  margin-top: 20px;
  margin-left: 25px;
}

.pagina_autenticacao h1{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 23px;
}

.pagina_autenticacao p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: #828282;
}

.calculadora{
  display: flex;
  flex-direction: column;
  background-color: #212121;  /* Coloquei um background de fundo com as medidas para fazer a caixa*/
  width: 350px;
  height: 240px;
}

.calculadora img{
  width: 300px;
  height: 130px;
  margin-top: 20px;
  margin-left: 25px;
}

.calculadora h1{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 23px;
}

.calculadora p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: #828282;
}

.chat_bot{
  display: flex;
  flex-direction: column;
  background-color: #212121;  /* Coloquei um background de fundo com as medidas para fazer a caixa*/
  width: 350px;
  height: 240px;
}

.chat_bot img{
  width: 300px;
  height: 130px;
  margin-top: 20px;
  margin-left: 25px;
}

.chat_bot h1{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 23px;
}

.chat_bot p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: #828282;
}

.barbearia_alura{
  display: flex;
  flex-direction: column;
  background-color: #212121;  /* Coloquei um background de fundo com as medidas para fazer a caixa*/
  width: 350px;
  height: 240px;
}

.barbearia_alura img{
  width: 300px;
  height: 130px;
  margin-top: 20px;
  margin-left: 25px;
}

.barbearia_alura h1{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 23px;
}

.barbearia_alura p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: #828282;
}

#servicos1{
display: flex;
justify-content: center;
margin-top: 127px;

font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;
}

#servicos{
  display: flex;
  justify-content: center;
  gap: 45px;
}

.criacao{
  width: 350px;
  height: 240px;
  margin-top: 30px;

  background: #212121;  /* Coloquei um background de fundo com as medidas para fazer a caixa*/
}


.sites1{
  width: 126px;
  height: 84px;
  margin-left: 30px;
  margin-top: 54px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  color: #828282;
}

#code {
  width: 56px;
  height: 56px;
  margin-top: 30px;
  margin-left: 30px;
}


.responsivo{
  width: 350px;
  height: 240px;
  margin-top: 30px;

  background: #212121;  /* Coloquei um background de fundo com as medidas para fazer a caixa*/
}

#responsivo{
  width: 56px;
  height: 56px;
  margin-top: 30px;
  margin-left: 30px;
}

.sites2{
  width: 126px;
  height: 84px;
  margin-left: 30px;
  margin-top: 54px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  color: #828282;
}

#minhas-skills h1{
  display: flex;
  justify-content: center;
  margin-top: 127px;
  text-align: center;
  gap: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;

}

  .imagens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 51px;
  margin-top: 35px;

  }

  #html, #css, #js{
    width: 70.54px;
    height: 80px;
    padding: 39px;
    background-color: #212121;  /* Coloquei um background de fundo com as medidas para fazer a caixa*/
  }


  footer{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-top: 220px;
    background: #212121;
       
  }

  footer h1{
    font-size: 15px;
    font-weight: normal;
    font-variant: small-caps;
  }

  img{
    display: flex;
    justify-content: center;
    width: 20px;
  }